.footer {
    margin: 60px auto;
    max-width: 400px;

    div {
        display: inline-block;
        margin: 0 auto;
    }

    a {
        display: block;
        margin: 0 auto;
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
    }
}

