.work {
    text-align: center;
  }
  
  .lightBg {
    background-color: #DAEAE8;
  }
  
  .darkBg {
    background-color: #5CA59B;
  }
  
  .work div div:nth-child(1) a {
    background-color: #84D2F6;
  }
  
  .work div div:nth-child(2) a {
    background-color: #EF2D56;
  }
  
  .work div div:nth-child(3) a {
    background-color: #FFD166;
  }
  
  .work div div:nth-child(4) a {
    background-color: #A997DF;
  }
  
  .work > div {
    width: 85%;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .work > h1 {
    font-size: 48px;
    font-weight: bold;
    color: #0B3F3C;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  .work > p {
    font-size: 20px;
    color: #545454;
    font-weight: 300;
    margin: 0 0 60px 0;
  }
  
  .wrapper {
    display: inline-block;
    margin-bottom: 30px;
  }
  
  .wrapper img {
    width: 375px;
    vertical-align: top;
  }
  
  .wrapper a {
    display: block;
    width: 95%;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 3px 7px #BFBFBF;
  }
  
  .textContent {
    color: white;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
  }
  
  .textContent h2 {
    font-size: 38px;
    line-height: 60px;
    font-family: 'ShorelinesScript';
    font-weight: 100;
    text-transform: uppercase;
    margin: 136px 0 0 0;
  }
  
  .textContent p {
    font-size: 20px;
    font-weight: 300;
    margin: 0 30px;
  }
  
  .textContent div {
    text-align: center;
    width: 100%;
  }
  
  div.wrapper:hover .textContent {
    opacity: 1;
  }
  
  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 375px;
      margin: 20px auto;
      padding: 0 15px;
    }
  
    .wrapper img {
      vertical-align: top;
      width: 100%;
    }
  }