.about {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 20px;
}
.about h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: #006155;
}

.about img {
  margin: 0 auto;
  width: 575px;
  box-shadow:0 3px 7px #BFBFBF;
}

.referenceBlock {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 300px;
  text-align: center;
  font-size: 20px;
  color: #1C6869;
  font-style: italic;
}

.referenceBlock p {
  margin-bottom: 0;
}

.referenceBlock span {
  font-weight: 300;
  font-size: 18px;
  color: #545454;
  font-family: 'BrandonGrotesque';
}

.references div {
  padding: 0 10px;
}
