.cases {
  margin: 40px auto;
  max-width: 1280px;
}

.cases h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: #0A6155;
  text-align: center;
  margin:40px 0 40px 0;
}

.wrapper {
  display: inline-block;
  margin-bottom: 60px;
}

.wrapper img {
  width: 275px;
  vertical-align: top;
}

.wrapper a {
  display: block;
  width: 275px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 7px #BFBFBF;
  background-color: #DAEAE8;
}

.textContent {
  color: white;
  background: rgba(10,97,85,0.75);
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}

.textContent h2 {
  font-size: 38px;
  line-height: 60px;
  font-family: 'ShorelinesScript';
  font-weight: 100;
  margin: 50px 0 0 26px;
  width: 223px;
  text-align: center;
}

.textContent p {
  font-size: 20px;
  font-weight: 300;
  margin: 0 30px;
}

.textContent div {
  text-align: center;
  width: 100%;
}

div.wrapper:hover .textContent {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .cases {
    max-width: 680px;
  }
}
