.cover {
  height: 550px;
  background: url(../../public/images/cover.jpg) no-repeat center center;
  background-size: cover;
}

.small {
  display: none;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: 300px;
    background: url(../../public/images/cover-sm.jpg) no-repeat center center;
    background-size: contain;
    margin-bottom: -30px;
  }
  .large {
    display: none;
  }
  div.small {
    display: block;
    color: #0B3F3C;
    float: none;
    margin: 50px auto;
  }
}

@media screen and (max-width: 500px) {
  div.small {
    width: 287px;
  }

  div.small p {
    font-size: 20px;
  }
}
