.logo {
  float:left;
  cursor: pointer;
  width: 153px;
}

.logo img {
  width: 100%;
}

.header {
  margin: 20px 10% 10px 10%;
  height: 100%;
  overflow:hidden;
}

.nav li, .nav ul, .nav{
  list-style-type: none;
  padding: 0;
  display: inline;
}

.nav {
  margin-top: 13px;
  float: right;
}

.nav li {
  padding: 0 10px 0 10px;
  text-transform: uppercase;
}

.link {
  color: #0B3F3C;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}

.link:visited {
  color: #0B3F3C;
  text-decoration: none;
}

.link:hover {
  color: #5CA59B;
}

@media screen and (max-width: 455px) {
  .nav, .logo {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
