.intro {
  margin: 180px 0 0 80px;
  color: white;
  text-align: center;
  padding: 0 5%;
  width: 561px;
  float: left;
}

.intro h1 {
  font-weight: 100;
  font-size: 42px;
  margin: 0;
}

.intro p {
  font-size: 30px;
  margin: 0;
  font-weight: 300;
}
