.intro {
  margin: 140px 80px 0 0;
  color: white;
  text-align: center;
  padding: 0 5%;
  width: 561px;
  float: right;
}

.intro h1 {
  font-family: 'ShorelinesScript';
  font-weight: 100;
  font-size: 42px;
  margin: 0;
}

.intro p {
  font-size: 30px;
  margin: 0;
  font-weight: 300;
}
