.work {
  text-align: center;
}

.lightBg {
  background-color: #DAEAE8;
}

.darkBg {
  background-color: #5CA59B;
}

.work > div {
  width: 85%;
  margin: 0 auto;
  max-width: 768px;
}

.work > h1 {
  font-size: 48px;
  font-weight: bold;
  color: #0B3F3C;
  text-transform: uppercase;
  margin-bottom: 0;
}

.work > p {
  font-size: 20px;
  color: #545454;
  font-weight: 300;
  margin: 0 0 60px 0;
}

.wrapper {
  display: inline-block;
  margin-bottom: 60px;
}

.wrapper img {
  width: 250px;
  vertical-align: top;
}

.wrapper a {
  display: block;
  width: 95%;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 7px #BFBFBF;
}

.textContent {
  color: white;
  background: rgba(10,97,85,0.75);
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}

.textContent h2 {
  font-size: 38px;
  line-height: 60px;
  font-family: 'ShorelinesScript';
  font-weight: 100;
  text-transform: uppercase;
  margin: 40px 0 0 0;
}

.textContent p {
  font-size: 20px;
  font-weight: 300;
  margin: 0 30px;
}

.textContent div {
  text-align: center;
  width: 100%;
}

div.wrapper:hover .textContent {
  opacity: 1;
}
