@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../public/fonts/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../public/fonts/Brandon_bld.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../public/fonts/Brandon_med.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../public/fonts/Brandon_light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../public/fonts/Brandon_reg_it.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../public/fonts/Brandon_light_it.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ShorelinesScript';
  src: url('../public/fonts/shorelines-script-bold.otf') format('opentype');
  }

body, p, h1, h2, h3, a, span {
  font-family: "BrandonGrotesque";
}

body {
  margin: 0;
}
